.schedule-content {
    width: 1210px;
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 30px; */
    min-height: 200px;
    margin-top: 83px;
    background-color: #fff;
    margin-left: 19px;
}

p {
    margin: 0;
}

thead {
    background-color: #000;
    opacity: 0.6;
    color: #fff;
}
table th {
    width: 110px;
    padding: 10px;
    font-size: 16px;
}

.box-schedule:nth-child(odd) {
    background-color: #fff;
}

.box-schedule.hour p{
    color: #000;
    line-height: 90px;
}

.box-schedule {
    width: 110px;
    padding: 5px;
    box-sizing: border-box;
    height: 100px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: #ccc 5px 5px,  #ccc -2px -2px;
}

.box-schedule p {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 5px;
}

td {
    width: 120px;
    font-size: 14px;
    padding-right: 15px;
}

tbody td:last-child {
    padding-right: 0;
}

.info-year {
    display: flex;
}

.info-user p {
    font-size: 16px;
}
.info-year p {
    font-size: 16px;
    margin-bottom: 10px;
}

