.form-content {
    width: 1200px;
    position: relative;
    padding: 20px;
    min-height: 200px;
    margin-top: 90px;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 10px;
}
thead  {
    background-color: #fff;
    color: #000;
    opacity: 1;
    height: 50px;
}
textarea {
    width: 100%;
}

.btn-gui-form {
    width: 100px;
    line-height: 50px;
    color: #fff;
    background-color: #f48023;
    padding: 0;
    border: 2px solid #fff;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    opacity: 0.9;
}
.btn-gui-form:hover {
    background-color: #f48023;
    color: #fff;
    opacity: 1;
}

/* .box-permission {
    height: 600px;
    margin-left: 10px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    overflow-y: scroll;
} */

.item-permission {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}


.item-permission p {
    font-size: 16px;
}
.head-item-permission {
    display:flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.footer-item-permission {
    margin-top: 10px;
}

