.container {
}
.Personnal {
    width: 100%;
    height: 300px;
    margin-top: 180px;
    margin-left: 25px;
    background-color: #fff;
}
.func-title-user span {
    border-bottom: #a8a8a8 solid 1px;
}
.func-title-user {
    height: 31px;
    text-align: center;
    line-height: 31px;
    font-size: 30px;
    color: #d82c2c;
    font-weight: 700;
    background: #fff no-repeat 20px center;
    margin-top: 20px;
    padding: 20px;
    text-transform: uppercase;
}
.info-basic {
    background-color: #fff;
    margin-top: 50px;
}
.info-basic .info {
    font-size: 15px;
    float: left;
    width: 510px;
    padding: 5px 0;
}
.txtcel1 {
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    width: 170px;
    text-align: right;
    color: #464646;
    font-weight: 700;
    padding-right: 10px;
}
.txtcel2 {
    display: block;
    height: 25px;
    line-height: 25px;
    color: #464646;
}

.form-update {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 200px;
}
