* {
  font-family: "Poppins", sans-serif;
}
.dashboard {
  margin-top: 80px;
  margin-left: 250px;
  background-color: #fff;
  border-left: 1px solid rgb(235, 228, 228);
}
.db-title {
  padding: 20px;
}
.db-container {
  font-family: "Poppins";
  display: flex;
  justify-content: row;
  margin-bottom: 100px;
}
.db-text h1 {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  color: #707070;
}
.db-desc {
  padding: 0 80px;
  margin: 0 auto;
  font-size: 16px;
  text-align: justify;
  color: #606060;
}
/*  */

.category {
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.category__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: -25px;
}
.category__item {
  width: calc(25% - 22.5px);
  padding: 25px;
  background-color: white;
  border-radius: 20px;
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.cate-feature {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #707070;
}
.category__item:first-child {
  box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 0.25);
}
.category__item:nth-child(2) {
  box-shadow: 0 20px 35px -5px rgba(255, 112, 109, 0.25);
}
.category__item:nth-last-child(2) {
  box-shadow: 0 20px 35px -5px rgba(133, 152, 255, 0.25);
}
.category__item:last-child {
  box-shadow: 0 20px 35px -5px rgba(255, 200, 122, 0.25);
}
.category_image {
  border-radius: inherit;
  width: 100%;
  height: 230px;
  object-fit: cover;
  margin-bottom: 40px;
}
.category__name {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 600;
  text-align: center;
  color: #707070;
}
.category__details {
  font-size: 14px;
  color: #c6cad7;

  text-align: center;
}
.category__details i {
  margin-left: 15px;
}
.category__details__name,
.category__details__details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*  */

.feature__item {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}
.feature__info,
.feature__image {
  width: 50%;
}
.feature__image img {
  width: 90%;
}
.feature__title {
  padding: 0 40px;
  /* margin: 0 auto; */
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #707070;
}
.feature_desc {
  padding: 0 40px;
  padding-bottom: 30px;
  margin: 0 auto;
  font-size: 16px;
  text-align: justify;
  color: #606060;
}
.feature-intro__item {
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 18px;
}
.feature-intro__item--cricle {
  text-decoration: none;
  position: relative;
  padding-left: 35px;
}
.feature-intro__item--cricle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #00aefd;
  transform: translateY(-50%);
}
.feature-intro__item--cricle:nth-child(2)::before {
  background-color: #ffa400;
}
.feature-intro__item--cricle:nth-child(3)::before {
  background-color: #ff7878;
}
.feature-intro__item--cricle:last-child::before {
  background-color: #f00;
}
.feature-best__item {
  text-decoration: none;
}
.feature-best__icon {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #ff6651;
  position: relative;
  z-index: 1;
}
.feature-best__icon::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.feature-best__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.feature-best__desc {
  font-weight: 300;
}
.feature-best__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
